APP_NAME=Nebula Core
APP_VERSION=0.3.0-dev
APP_ENV=development
APP_DEBUG=true

POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=nebula
POSTGRES_USER=nebula

DATABASE_ECHO=false

JWT_ISSUER=nebula-core
JWT_AUDIENCE=nebula-player
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
